@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   /* overflow-x: v; */
  overflow: visible;
  font-family: "Recursive", sans-serif;
}

/*****Customer-1st-Page CSS *******/

/* Start */

.carousel-item{
  width: 100%;
  height: 300px;
}

#carousel-card{
  width: 30%;
  height:50vh;
}

.price-tag h2{
  font-family: 'Righteous', cursive;
}


/* End */


/*====== Customer-2nd-Page CSS ======*/

.containerDetails{
  margin-top: 5%;
  width: 100%;
  height: 100vh;
  background: #FFF8DE;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

h1{
  font-size: 3.3rem;
  letter-spacing: normal;
}
.mess-info{
  padding: 3% 7%;
}
.mess-menus{
  padding: 15px 0px;
  border-left: 8px solid #FEC200;
  margin-top: 10px;
  /* border: 1px solid #FEC200; */
  background-color: #ffffff;
}
li{
  display: inline-block;
  width: 45%;
  padding-left: 15px;
}
li:nth-child(2){
  width: 45%;
}
li:nth-child(3){
  width: 10%;
}
.veg{
  transform: scale(.5);
}
@media only screen and (min-width: 1000px) {
  .mess-card{
    margin-left: 100px;
  }
  .containerDetails{
    width: 90vw;
    margin-left: 5rem;
  }
  #mess-pic{
    height: 17rem;
  }
}


/* ===== Mess-1st-Page CSS ====== */



/*===== Mess-2nd-Page CSS ======*/